.Page {
    background-color: black; 
    font-family: Arial, Helvetica, sans-serif;
}

.Photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 200px;
}

.Name {
    text-align: center;
    font-size: 30px;
    color: white;
    position: relative;
    top: -16px;
}

.Name-- {
    text-align: center;
    font-size: 20px;
    color: rgb(237, 168, 19);
    position: relative;
    top: -45px;    
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    top: -65px;
    font-size: 300px;
}

.Email {
    margin-right:20px;
    background-color:white;
    color: black;
    border-radius: 6px;
    font-size: 20px;
    position: relative;
    top: -150px;
}

.Button .LinkedIn {
    margin-left:20px;
    background-color: skyblue;
    color: black;
    position: relative;
    top: -244px;
    font-size: 24px;
    border-radius: 6px;
}

.About {
    font-size: 15px;
    position: relative;
    top: -385px;
    color: white; 
}

.About-title {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    right: -500px;
    color:rgb(237, 168, 19);
}

.About-description {

    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
    right: -500px;
}

.About-description1 {

    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
    right: -500px;
}

.div {
    color:white;
    list-style:circle;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -400px;
    right: -500px;
}

.div-p {
    color:rgb(237, 168, 19);
}
